.saved-news-header {
  padding-top: 40px;
  padding-bottom: 56px;
}

.saved-news-header__title {
  margin-top: 0;
  margin-bottom: 28px;
  color: #1A1B2250;
  font-size: 18px;
  line-height: 24px;
}

.saved-news-header__subtitle {
  max-width: 45%;
  margin-top: 0;
  margin-bottom: 28px;
  color: #1A1B22;
  font-size: 40px;
  line-height: 46px;
}

.saved-news-header__keywords {
  margin-top: 0;
  margin-bottom: 0;
  color: #1A1B22;
  font-size: 18px;
  line-height: 24px;
}

.saved-news-header__span-accent {
  font-weight: 700;
}
