.cover {
  min-height: 576px;
  background: center / cover url(../../images/banner.png);
}

.cover__content {
  max-width: 608px;
  padding: 80px 104px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cover__title {
  width: 100%;
  margin-top: 0;
  margin-bottom: 32px;
  color: #fff;
  font-size: 60px;
  line-height: 64px;
  font-weight: 400;
}

.cover__subtitle {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  color: #fff;
  font-size: 18px;
  line-height: 24px;
}

.cover__search-form {
  margin-top: 64px;
}
