.typo_font-family_roboto {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

.typo_font-family_roboto-slab {
  font-family: 'Roboto Slab', Georgia, 'Times New Roman', Times, serif;
}

.typo_font-family_inter {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.typo_font-family_source-sans {
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}
