.header {
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid;
}

.header_type_main-page {
  color: #fff;
  border-color: #ffffff20;
}

.header_type_secondary-page {
  border-color: #1A1B2220;
}

.header_type_main-page .header__link {
  color: #B6BCBF;
}

.header_type_main-page .header__link:hover {
  color: #fff;
}

.header_type_main-page .header__link_active {
  color: #fff;
  border-bottom-color: #fff;
}

.header_type_secondary-page .header__link {
  color: #D1D2D6;
}

.header_type_secondary-page .header__link:hover {
  color: #1A1B22;
}

.header_type_secondary-page .header__link_active {
  color: #1A1B22;
  border-bottom-color: #1A1B22;
}

.header__navigation {
  margin-left: 32px;
  margin-right: 32px;
}

.header__control {
  display: flex;
  min-height: inherit;
  align-items: stretch;
}

.header__button {
  height: 48px;
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 100px;
  background-color: transparent;
  border: 1px solid;
  font-size: 18px;
  line-height: 24px;
  align-self: center;
}

.header__button_type_main-page {
  color: #fff;
  border-color: #D1D2D6;
}

.header__button_type_main-page:hover {
  border-color: #fff;
}

.header__button_type_secondary-page {
  color: #1A1B22;
  border-color: #B6BCBF;;
}

.header__button_type_secondary-page:hover {
  border-color:#1A1B22;
}

.header__logout-icon {
  margin-left: 10px;
}

@media screen and (max-width: 1024px) {
  .header {
    min-height: 66px;
  }

  .header__navigation {
    margin-left: 16px;
    margin-right: 16px;
  }

  .header__button {
    height: 40px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 16px;
  }
}
